@import '../../scss/variables';

.pop-tab {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-background;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 600px;
    overflow: scroll;
    .pop-tab-content {
      position: relative;
    }
  
    .circle {
      position: absolute;
      top: -15px;
      right: -15px;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
  
      &:before {
        content: 'X';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  