@import '../../scss/variables';

.footer-row {
	background-color: $main-background;
	padding: 80px 0;
    max-width: 1170px;
	margin: auto;
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
    }

    .footer-col {
        width: 20%;
        padding: 0 15px;

        .social-links a {
            color: #FFF;
            background-color: rgba(255, 255, 255, 0.2);
            display: inline-block;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            text-align: center;
            margin: 0 10px 10px 0;
            line-height: 40px;
            transition: all 0.5s ease;
        }
    }
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}